/* Add this CSS animation */
@keyframes dropIn {
    0% {
      transform: translateY(-50px); /* Move letters up initially */
      opacity: 0; /* Initially hide the letters */
    }
    100% {
      transform: translateY(0); /* Return letters to their normal position */
      opacity: 1;
    }
  }
  
  .welcome-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
    z-index: 9999; /* Place it above other content */
  }
  
  .welcome-text {
    font-size: 36px; /* Adjust font size as needed */
    color: #3498db; /* Adjust text color as needed */
    font-weight: unset; /* Adjust font weight as needed */
    display: inline-block;
    margin-top: 10px; /* Adjust the margin as needed */
    opacity: 0; /* Initially hide the text */
    animation: dropIn 0.5s ease-in-out; /* Adjust the duration as needed */
    animation-fill-mode: forwards; /* Keep the final state of the animation */
  }
  